.basket {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  padding: 24px 40px 0 40px;
  max-width: 656px;
  background-color: var(--white);
  z-index: 1;
}
.basket__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: var(--black);
}
.basket-all {
  margin-top: 26px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 9px;
}
.basket-all__select {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
}
.basket-all__select input {
  margin-right: 14px;
}
.basket-all__select label {
  cursor: pointer;
}
.basket-all__delete {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  border: none;
  background-color: var(--white);
  cursor: pointer;
}
.basket-title {
  display: flex;
  justify-content: space-between;
}

.basket-item {
  display: grid;
  grid-template-columns: auto 100px 2fr 2fr auto auto;
  align-items: center;
  grid-column-gap: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 14px;
  padding-top: 14px;
}
.basket-item__name {
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
}
.basket-item__img {
  width: 100px;
  height: 79px;
}
.basket-item__img img {
  width: 100%;
  height: 100%;
}
.basket-item__button {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid var(--border-filter);
  background-color: var(--white);
  cursor: pointer;
}
.basket-item__result {
  padding: 0 11px;
}
.basket-item__price {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: end;
}
.basket-btn-remove {
  border: none;
  background-color: var(--white);
  cursor: pointer;
}
.basket-btn-remove svg {
  margin-left: 0;
}
.basket-item__result-all {
  text-align: center;
}
.basket-item-results {
  margin: 28px 0 20px 0;
  text-align: center;
}
.results_price {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
.basket-btn-do {
  margin: 0 auto;
}

.basket .basket-clouse {
  position: absolute;
  top: 30px;
  right: 37px;
  width: 20px;
  height: 20px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
.basket .basket-clouse::before,
.basket .basket-clouse::after {
  content: '';
  position: absolute;
  top: 5;
  left: 0;
  width: 19px;
  height: 1px;
  background-color: #000000;
  transform: rotate(-45deg);
}
.basket .basket-clouse::after {
  transform: rotate(45deg);
}
.basket .basket-clouse:hover,
.basket .basket-clouse:focus,
.basket .basket-clouse:active {
  opacity: 0.5;
}
.basket .basket-clouse:active {
  transform: scale(0.9);
}
