*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orange: #fbba3c;
  --grey: #e5e5e5;
  --black: #000000;
  --white: #ffffff;
  --find: rgba(0, 0, 0, 0.2);
  --btn-hover: #fcd17d;
  --btn-active: #faaa0f;
  --bgc: #f9f9f9;
  --bgc-filter: #f2f2f2;
  --border-filter: #e8e8e8;
  --color-btn-filter: #ff9702;
  --color-border-main: #eaeaea;
}
/* сетка */
.grid {
  display: grid;
  grid-gap: var(--column-gap);
  --cols: 12;
  grid-template-columns: repeat(var(--cols), minmax(0, 1fr));
}
.item {
  min-width: 0;
  width: 100%;
  --span: 1;
  grid-column: span var(--span);
}
aside.item {
  --span: 3;
}
main.item {
  --span: 9;
}
.layer-bgc::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
body {
  font-family: Montserrat;
  background-color: var(--bgc);
}
.container {
  max-width: 1312px;
  margin: auto;
  padding: 0 40px;
}
.button {
  display: block;
  font-family: 'Montserrat', sans-serif;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  background: var(--orange);
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  color: var(--black);
}
.button:hover {
  background: var(--btn-hover);
}
.button:active {
  background: var(--btn-active);
}
.button:active,
.button:focus {
  outline: none;
}
.button-pick {
  padding: 10px 20px;
}

.input {
  font-family: 'Montserrat', sans-serif;
  background: var(--white);
  border-radius: 4px;
  width: 264px;
  height: 32px;
  padding-top: 7px;
  padding-bottom: 8px;
  padding-left: 34px;
}
input:active,
:focus {
  outline: none;
}
.filter-mobile {
  display: none;
  margin-top: 19px;
  margin-left: 16px;
}
.button-filter-mobail {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--orange);
  background-color: var(--bgc);
  border: none;
  display: flex;
  align-items: center;
}
.button-filter-mobail svg {
  margin-right: 4px;
}
.filter-checkbox-other input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: top;
  outline: none;
  transition: background 0.3s ease;
  background: url('../img/mark.svg') 0 0 no-repeat;
  cursor: pointer;
}

/* Checked */
.filter-checkbox-other input[type='checkbox']:checked {
  background-image: url('../img/mark-checked.svg');
}
/* Focus */
.focused input[type='checkbox'] {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Hover */
.filter-checkbox-other input[type='checkbox']:hover {
  filter: brightness(110%);
  border: 1px solid var(--orange);
  border-radius: 4px;
}

/* Active */
.filter-checkbox-other input[type='checkbox']:active {
  filter: brightness(80%);
}

/* Disabled */
.filter-checkbox-other input[type='checkbox']:disabled {
  color: var(--border-filter);
  cursor: default;
}
.filter-checkbox-other input[type='checkbox']:disabled {
  filter: grayscale(100%);
  opacity: 0.6;
}
input::-webkit-input-placeholder {
  font-weight: 500;
  height: 17px;
  font-size: 14px;
  line-height: 17px;
  color: var(--find);
}
input:-moz-placeholder {
  font-weight: 500;
  font-size: 14px;
  height: 17px;
  line-height: 17px;
  color: var(--find);
}
.input__wrapper {
  position: relative;
}
.icon_burger {
  width: 16px;
  height: 12px;
  margin-right: 5px;
}
.icon_delete_basket {
  margin-left: 14px;
  width: 18px;
  height: 18px;
}
.icon {
  width: 32px;
  height: 30px;
}
.icon-search {
  width: 18px;
  height: 18px;
  margin: 0 8px;
  opacity: 0.2;
}
.icon-filter-mobile {
  width: 17px;
  height: 16px;
}
header {
  height: 80px;
  background-color: var(--white);
}
.header-elems {
  display: flex;
  align-items: center;
  background-color: var(--white);
}
.header-elems__promo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 2;
}
.promo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}
.promo-item__text {
  margin-top: 4px;
  text-decoration: none;
  color: var(--black);
}
.promo-item:last-child {
  margin-right: 0;
}
.button-promo-burger {
  margin-left: 14px;
  padding: 16px 20px;
  display: none;
}
.header-elems__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
}
.logo {
  cursor: pointer;
}
.button-cat {
  display: flex;
  align-items: center;
  padding: 14px 20px;
}
.header-elems__cat {
  margin-right: 30px;
}
.header-elems__search {
  display: flex;
  align-items: center;
  width: 460px;
  border: 1px solid var(--orange);
  border-radius: 4px;
  height: 45px;
  margin-right: 40px;
}
.header-elems__search input {
  width: 100%;
  height: 100%;
  border: none;
}
.button-find {
  padding: 14px 32px;
}
/* ----------------bread-crumbs ------------------*/
.bread-crumbs{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.bread-crumbs.novisible {
  display: none;
}

.bread-crumbs__list {
  display: flex;
}
.bread-crumbs__list li {
  list-style-type: none;
  font-size: 12px;
  line-height: 15px;
  color: var(--black);
  opacity: 0.5;
}
.bread-crumbs li::after {
  content: ' / ';
  padding: 0 5px;
}
.bread-crumbs li:last-child::after {
  display: none;
}
.bread-crumbs__list {
  padding: 14px 0;
}
.bread-crumbs__title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: var(--black);
}
.line {
  opacity: 0.1;
  border: 1px solid var(--black);
}

/* -----------catalog------------- */
.catalog-top {
  display: none;
}
.catalog-top.visible {
  display: block;
}
.line.novisible {
  display: none;
}
.catalog-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.catalog-top__item {
  text-align: center;
  padding: 30px 0;
}
.catalog-top__item a {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #323232;
  text-decoration: none;
}

.dog {
  background-image: url('../img/bg-catalog-dog.svg');
  background-size: cover;
  background-color: #fbba3c;
  background-blend-mode: color-dodge;
}
.cat {
  background-image: url('../img/bg-catalog-cat.svg');
  background-size: cover;
  background-color: #e95342;
  background-blend-mode: color-dodge;
}
/* ------------------------aside---------------------- */
.filter {
  margin-top: 24px;
  background-color: var(--bgc-filter);
  border-radius: 8px;
  max-width: 296px;
}
.layer-bgc.visible {
  display: none;
}
.filter-search {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  background-color: var(--white);
}
.icon-filter {
  margin: 7px 8px;
}
.filter-search input {
  border: none;
}
.icon-arrow {
  width: 9px;
  height: 5px;
}
.filter-elements {
  display: flex;
  flex-direction: column;
}
.filter-elem {
  padding: 14px 16px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--border-filter);
  border-bottom: 1px solid var(--border-filter);
}
.filter-elem:last-child {
  border: none;
}
.filter-block-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.filter-elements__title {
  padding: 16px 16px 14px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--black);
}
.filter-element__title {
  padding: 8px 16px 14px 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: var(--black);
}
.filter-element__box {
  display: flex;
  align-items: center;
  padding-bottom: 8px;
}
.filter-element__box label {
  padding-left: 8px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: var(--black);
  cursor: pointer;
}
.filter-element__button {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: var(--color-btn-filter);
  background-color: var(--bgc-filter);
  border: none;
  text-align: left;
}

.filter-block-range input {
  width: 70px;
  height: 32px;
  background: var(--white);
  border-radius: 4px;
  margin: 0 14px;
  text-align: center;
  border: none;
}

/* ----------------main------------------ */
.main-items {
  margin-top: 24px;
  margin-left: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 216px);
  grid-gap: 24px 16px;
}

.main-item {
  border: 1px solid var(--color-border-main);
  border-radius: 4px;
  list-style-type: none;
  cursor: pointer;
}
.main-item:hover .main-items__title {
  color: var(--orange);
}
.main-item:active {
  border: 1px solid var(--orange);
}
.item-block {
  margin-left: 14px;
  margin-top: 8px;
}
.main-items__title {
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: capitalize;
  color: var(--black);
}
.main-items__price {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--black);
}
.main-items__button {
  margin-top: 8px;
  margin-bottom: 14px;
}
.main-item__img {
  width: 216px;
  height: 172px;
  margin-left: -1px;
}
.card-item__img img,
.main-item__img img,
.oder-item__img img {
  object-fit: fill;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.main-button {
  margin-bottom: 68px;
  margin-top: 42px;
  display: flex;
  justify-content: center;
 
}
.main-button__btn {
  padding: 10px 16px;
  background: var(--white);
  border: 1px solid var(--color-border-main);
  box-sizing: border-box;
  border-radius: 4px;
}
